@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: scroll; /* Ensures the scrollbar is visible even if content doesn't overflow */
}

/* Scrollbar styling for WebKit browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #1fda25;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2ac231;
}

/* Ensures scrolling is enabled for the document if needed */
html {
  overflow-y: auto; /* This is necessary to show scrollbar if the content overflows */
}
